
html, body {
    font-family: Roboto, Arial, sans-serif;
    height: 100%;
    margin: 0;
}

.button {
    background-color: #2874f0;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    font-size: 16px;
    margin-top: 25px;
    border-radius: 2px;
    text-decoration: none;
}
